.step-item {
  .step-tooltip {
    margin-left: -2000px; // so that only the icon can be hovered on
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover {
    cursor: pointer; // Hover styles could be improved to have a larger click area

    .step-tooltip {
      margin-left: 0;
      width: auto;
      visibility: visible;
      opacity: 1;
    }
  }

  &.disabled:hover {
    cursor: not-allowed;
  }
}
