$icon-radius: 32px;

:root {
  --color--available: #d2ddef;
  --color--unavailable: #d2ddef;
  --color--completed: #384b5d;
  --color--invalid: #c05f68;
  --color--active: #6dc5ab;
}

@mixin css-circle($radius) {
  display: block;
  border-radius: $radius;
  width: $radius;
  height: $radius;
}

.status-icon {
  width: 32px;
  height: 32px;

  &.fa-2xl {
    line-height: normal;
  }
}

.icon-available {
  @include css-circle($icon-radius);
  background: var(--color--available);

  &.active {
    background: var(--color--active);
  }

  &:after {
    $small-icon-radius: 12px;
    $small-icon-margin: 10px;

    @include css-circle($small-icon-radius);

    position: absolute;
    content: '';
    background: white;
    margin-left: $small-icon-margin;
    margin-top: $small-icon-margin;
  }
}

.icon-completed {
  color: var(--color--completed);

  &.active {
    color: var(--color--active);
  }
}

.icon-invalid {
  // Not sure what scenario would be invalid but not active
  // So only added red colour, not active + red colour
  color: var(--color--invalid);
}

.icon-unavailable {
  $small-dot-icon-radius: 24px;
  @include css-circle($small-dot-icon-radius);
  background: var(--color--unavailable);
  margin: ($icon-radius - $small-dot-icon-radius) / 2;
}
